/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 24px;
}
@media (min-width: 1000px) {
  html {
    font-size: 18px;
  }
}

.c-bodyText {
  font-family: "Karla", "Lucida Grande", "Arial", sans-serif;
  font-size: 1.414rem;
  font-weight: normal;
  line-height: 1.6;
  opacity: 0.9;
}

.c-CSSOnlyVeganHotDogGraphic {
  margin: auto;
  border-radius: 50%;
  position: relative;
  background-color: #fff;
  box-sizing: border-box;
  font-size: 10rem;
  width: 1em;
  height: 1em;
  overflow: hidden;
}
.c-CSSOnlyVeganHotDogGraphic__container {
  position: relative;
  width: 100%;
  height: 100%;
}
.c-CSSOnlyVeganHotDogGraphic__veganHotDog {
  position: absolute;
  top: 0.39em;
  left: 0;
  right: 0;
  margin: auto;
  width: 0.8em;
  height: 0.14em;
  border-radius: 0.07em;
  background-color: #CA6A41;
}
.c-CSSOnlyVeganHotDogGraphic__bread {
  position: absolute;
  top: 0.44em;
  left: 0;
  right: 0;
  margin: auto;
  width: 0.6em;
  height: 0.24em;
  border-radius: 0.1em;
  background-color: #EDB662;
}
.c-CSSOnlyVeganHotDogGraphic__condiments {
  position: absolute;
  top: 0.38em;
  left: 0;
  right: 0;
  margin: auto;
  width: 0.6em;
  height: 0.03em;
  border-radius: 0.015em;
}
.c-CSSOnlyVeganHotDogGraphic__condiments--none {
  opacity: 0;
}
.c-CSSOnlyVeganHotDogGraphic__condiments--ketchup {
  background: #D92A1F;
}
.c-CSSOnlyVeganHotDogGraphic__condiments--mustard {
  background: #F5D530;
  height: 0.04em;
  border-radius: 0.02em;
}
.c-CSSOnlyVeganHotDogGraphic__condiments--picklemayo {
  background: #84B66D;
  height: 0.05em;
  border-radius: 0.025em;
}

.c-biteAnimation {
  animation: appear 200ms linear;
}
.c-biteAnimation .c-biteAnimation__biteable:after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: transparent;
}
.c-biteAnimation--biteOne {
  animation: firstBite 200ms linear;
}
.c-biteAnimation--biteOne .c-biteAnimation__biteable:after {
  background: radial-gradient(circle at 0%, #fff 30%, transparent 30%);
}
.c-biteAnimation--biteTwo {
  animation: secondBite 200ms linear;
}
.c-biteAnimation--biteTwo .c-biteAnimation__biteable:after {
  background: radial-gradient(circle at 0%, #fff 60%, transparent 60%);
}
.c-biteAnimation--eaten {
  animation: none;
}
.c-biteAnimation--eaten .c-biteAnimation__biteable:after {
  background: #fff;
}

@keyframes appear {
  0% {
    transform-origin: right;
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(-6deg);
  }
  50% {
    transform: rotateZ(12deg);
  }
  75% {
    transform: rotateZ(-7deg);
  }
  100% {
    transform: rotateZ(0);
  }
}
@keyframes firstBite {
  0% {
    transform-origin: right;
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(-6deg);
  }
  50% {
    transform: rotateZ(12deg);
  }
  75% {
    transform: rotateZ(-7deg);
  }
  100% {
    transform: rotateZ(0);
  }
}
@keyframes secondBite {
  0% {
    transform-origin: right;
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(-6deg);
  }
  50% {
    transform: rotateZ(12deg);
  }
  75% {
    transform: rotateZ(-7deg);
  }
  100% {
    transform: rotateZ(0);
  }
}
.c-itemLink {
  display: inline-block;
  text-decoration: none;
  border: 0.25em solid #1d1d1e;
  padding: 0.75em 1.75em;
  border-radius: 3em;
}

.c-memoryIcon__base {
  fill: #000;
}
.c-memoryIcon__figure {
  fill: rgba(255, 255, 255, 0.75);
}

.c-profilePic {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}

.c-title {
  font-family: "Montserrat", "Lucida Grande", "Arial", sans-serif;
  font-size: 2.827rem;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.25;
  text-align: center;
}

.c-selfPortraitIcon {
  display: flex;
  align-items: center;
  justify-items: center;
}
.c-selfPortraitIcon__pixels {
  height: 4px;
  width: 4px;
  margin: auto;
  margin-left: -28px;
  margin-top: -28px;
  box-shadow: 24px 4px 0 0 #9e856e, 28px 4px 0 0 #9e856e, 32px 4px 0 0 #9e856e, 36px 4px 0 0 #9e856e, 40px 4px 0 0 #9e856e, 20px 8px 0 0 #9e856e, 24px 8px 0 0 #9e856e, 28px 8px 0 0 #9e856e, 32px 8px 0 0 #9e856e, 36px 8px 0 0 #9e856e, 40px 8px 0 0 #9e856e, 44px 8px 0 0 #9e856e, 12px 12px 0 0 #9e856e, 16px 12px 0 0 #9e856e, 20px 12px 0 0 #9e856e, 24px 12px 0 0 #9e856e, 28px 12px 0 0 #9e856e, 32px 12px 0 0 #9e856e, 36px 12px 0 0 #9e856e, 40px 12px 0 0 #9e856e, 44px 12px 0 0 #9e856e, 48px 12px 0 0 #9e856e, 12px 16px 0 0 #9e856e, 16px 16px 0 0 #9e856e, 20px 16px 0 0 #9e856e, 24px 16px 0 0 #e6c1aa, 28px 16px 0 0 #e6c1aa, 32px 16px 0 0 #e6c1aa, 36px 16px 0 0 #9e856e, 40px 16px 0 0 #e6c1aa, 44px 16px 0 0 #e6c1aa, 48px 16px 0 0 #9e856e, 52px 16px 0 0 #9e856e, 8px 20px 0 0 #9e856e, 12px 20px 0 0 #9e856e, 16px 20px 0 0 #9e856e, 20px 20px 0 0 #e6c1aa, 24px 20px 0 0 #e6c1aa, 28px 20px 0 0 #e6c1aa, 32px 20px 0 0 #e6c1aa, 36px 20px 0 0 #e6c1aa, 40px 20px 0 0 #e6c1aa, 44px 20px 0 0 #e6c1aa, 48px 20px 0 0 #e6c1aa, 52px 20px 0 0 #9e856e, 8px 24px 0 0 #9e856e, 12px 24px 0 0 #000000, 16px 24px 0 0 #000000, 20px 24px 0 0 #000000, 24px 24px 0 0 #000000, 28px 24px 0 0 #000000, 32px 24px 0 0 #000000, 36px 24px 0 0 #000000, 40px 24px 0 0 #000000, 44px 24px 0 0 #000000, 48px 24px 0 0 #000000, 52px 24px 0 0 #000000, 56px 24px 0 0 #000000, 60px 24px 0 0 #000000, 8px 28px 0 0 #9e856e, 12px 28px 0 0 #7b5840, 16px 28px 0 0 #e6c1aa, 20px 28px 0 0 #000000, 24px 28px 0 0 #ffffff, 28px 28px 0 0 #356399, 32px 28px 0 0 #ffffff, 36px 28px 0 0 #000000, 40px 28px 0 0 #000000, 44px 28px 0 0 #000000, 48px 28px 0 0 #ffffff, 52px 28px 0 0 #356399, 56px 28px 0 0 #ffffff, 60px 28px 0 0 #000000, 8px 32px 0 0 #9e856e, 12px 32px 0 0 #7b5840, 16px 32px 0 0 #e6c1aa, 20px 32px 0 0 #000000, 24px 32px 0 0 #ffffff, 28px 32px 0 0 #ffffff, 32px 32px 0 0 #ffffff, 36px 32px 0 0 #000000, 40px 32px 0 0 #e6c1aa, 44px 32px 0 0 #000000, 48px 32px 0 0 #ffffff, 52px 32px 0 0 #ffffff, 56px 32px 0 0 #ffffff, 60px 32px 0 0 #000000, 8px 36px 0 0 #9e856e, 12px 36px 0 0 #7b5840, 16px 36px 0 0 #e6c1aa, 20px 36px 0 0 #e6c1aa, 24px 36px 0 0 #000000, 28px 36px 0 0 #000000, 32px 36px 0 0 #000000, 36px 36px 0 0 #e6c1aa, 40px 36px 0 0 #e6c1aa, 44px 36px 0 0 #e6c1aa, 48px 36px 0 0 #000000, 52px 36px 0 0 #000000, 56px 36px 0 0 #000000, 8px 40px 0 0 #9e856e, 12px 40px 0 0 #9e856e, 16px 40px 0 0 #7b5840, 20px 40px 0 0 #e6c1aa, 24px 40px 0 0 #e6c1aa, 28px 40px 0 0 #e6c1aa, 32px 40px 0 0 #e6c1aa, 36px 40px 0 0 #e6c1aa, 40px 40px 0 0 #e6c1aa, 44px 40px 0 0 #e6c1aa, 48px 40px 0 0 #e6c1aa, 52px 40px 0 0 #9e856e, 4px 44px 0 0 #9e856e, 8px 44px 0 0 #9e856e, 12px 44px 0 0 #9e856e, 16px 44px 0 0 #7b5840, 20px 44px 0 0 #7b5840, 24px 44px 0 0 #e6c1aa, 28px 44px 0 0 #e6c1aa, 32px 44px 0 0 #e6c1aa, 36px 44px 0 0 #7b5840, 40px 44px 0 0 #7b5840, 44px 44px 0 0 #7b5840, 48px 44px 0 0 #e6c1aa, 52px 44px 0 0 #9e856e, 4px 48px 0 0 #9e856e, 8px 48px 0 0 #9e856e, 12px 48px 0 0 #9e856e, 16px 48px 0 0 #7b5840, 20px 48px 0 0 #7b5840, 24px 48px 0 0 #7b5840, 28px 48px 0 0 #e6c1aa, 32px 48px 0 0 #7b5840, 36px 48px 0 0 #b56d69, 40px 48px 0 0 #b56d69, 44px 48px 0 0 #b56d69, 48px 48px 0 0 #7b5840, 52px 48px 0 0 #9e856e, 8px 52px 0 0 #9e856e, 12px 52px 0 0 #9e856e, 20px 52px 0 0 #7b5840, 24px 52px 0 0 #7b5840, 28px 52px 0 0 #7b5840, 32px 52px 0 0 #7b5840, 36px 52px 0 0 #7b5840, 40px 52px 0 0 #7b5840, 44px 52px 0 0 #7b5840, 48px 52px 0 0 #7b5840, 52px 52px 0 0 #9e856e, 12px 56px 0 0 #9e856e, 24px 56px 0 0 #7b5840, 28px 56px 0 0 #7b5840, 32px 56px 0 0 #7b5840, 36px 56px 0 0 #7b5840, 40px 56px 0 0 #7b5840, 44px 56px 0 0 #7b5840, 48px 56px 0 0 #7b5840, 32px 60px 0 0 #7b5840, 36px 60px 0 0 #7b5840, 40px 60px 0 0 #7b5840;
}

.c-sideScroller {
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  box-sizing: border-box;
  counter-reset: item-counter;
}
.c-sideScroller__image {
  width: 10rem;
  height: 10rem;
}
.c-sideScroller__item {
  text-align: center;
  position: relative;
  display: flex;
  flex-flow: column;
}
.c-sideScroller__item:before {
  color: #1d1d1e;
  position: absolute;
  left: 2rem;
  top: 2rem;
  content: counter(item-counter) ".";
  counter-increment: item-counter;
}

.c-siteHeader {
  align-items: center;
  align-content: center;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  box-sizing: border-box;
  min-height: 85vh;
}

.c-socialLogo {
  display: flex;
}
.c-socialLogo__icon {
  font-size: 4rem;
  width: 1em;
  height: 1em;
  max-width: 1em;
  max-height: 1em;
  fill: currentColor;
}

.c-subTitle, .c-sideScroller__item:before {
  font-family: "Karla", "Lucida Grande", "Arial", sans-serif;
  font-size: 1.999rem;
  text-transform: uppercase;
  line-height: 1.25;
}

.c-triangleBackground {
  position: relative;
}
.c-triangleBackground__pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.c-triangleBackground:after {
  content: "";
  z-index: 0;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30rem;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.l-height--half {
  box-sizing: border-box;
  min-height: 50vh;
}
.l-height--threeQuarter {
  box-sizing: border-box;
  min-height: 75vh;
}
.l-height--full {
  box-sizing: border-box;
  min-height: 100vh;
}
.l-height--icon {
  font-size: 10rem;
  box-sizing: border-box;
  max-height: 1em;
}

.l-floatingContainer {
  min-width: 800px;
  max-width: 95%;
  box-sizing: border-box;
}

.l-onTop {
  z-index: 1000;
}

.l-relative {
  position: relative;
}

.l-width--oneColumn {
  max-width: 800px;
}
.l-width--full {
  width: 100%;
}

.u-align--left {
  text-align: left;
}
.u-align--right {
  text-align: right;
}
.u-align--center {
  text-align: center;
}

.u-background--white {
  background: #fff;
}

.u-color--black {
  color: #1d1d1e;
}
.u-color--white {
  color: #fff;
}
.u-color--whiteBlend {
  color: #fff;
  opacity: 0.9;
}

.u-cursor--pointer {
  cursor: pointer;
}

.u-margin--auto {
  margin: auto;
}
.u-margin--none {
  margin: 0;
}
.u-margin--xs {
  margin: 0.5rem;
}
.u-margin--s {
  margin: 1rem;
}
.u-margin--m {
  margin: 2rem;
}
.u-margin--l {
  margin: 4rem;
}
.u-margin--xl {
  margin: 8rem;
}
.u-marginX--auto {
  margin-left: auto;
  margin-right: auto;
}
.u-marginX--none {
  margin-left: 0;
  margin-right: 0;
}
.u-marginX--xs {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.u-marginX--s {
  margin-left: 1rem;
  margin-right: 1rem;
}
.u-marginX--m {
  margin-left: 2rem;
  margin-right: 2rem;
}
.u-marginX--l {
  margin-left: 4rem;
  margin-right: 4rem;
}
.u-marginX--xl {
  margin-left: 8rem;
  margin-right: 8rem;
}
.u-marginY--auto {
  margin-top: auto;
  margin-bottom: auto;
}
.u-marginY--none {
  margin-top: 0;
  margin-bottom: 0;
}
.u-marginY--xs {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.u-marginY--s {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.u-marginY--m {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.u-marginY--l {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.u-marginY--xl {
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.u-marginTop--auto {
  margin-top: auto;
}
.u-marginTop--none {
  margin-top: 0;
}
.u-marginTop--xs {
  margin-top: 0.5rem;
}
.u-marginTop--s {
  margin-top: 1rem;
}
.u-marginTop--m {
  margin-top: 2rem;
}
.u-marginTop--l {
  margin-top: 4rem;
}
.u-marginTop--xl {
  margin-top: 8rem;
}
.u-marginBottom--auto {
  margin-bottom: auto;
}
.u-marginBottom--none {
  margin-bottom: 0;
}
.u-marginBottom--xs {
  margin-bottom: 0.5rem;
}
.u-marginBottom--s {
  margin-bottom: 1rem;
}
.u-marginBottom--m {
  margin-bottom: 2rem;
}
.u-marginBottom--l {
  margin-bottom: 4rem;
}
.u-marginBottom--xl {
  margin-bottom: 8rem;
}
.u-marginLeft--auto {
  margin-left: auto;
}
.u-marginLeft--none {
  margin-left: 0;
}
.u-marginLeft--xs {
  margin-left: 0.5rem;
}
.u-marginLeft--s {
  margin-left: 1rem;
}
.u-marginLeft--m {
  margin-left: 2rem;
}
.u-marginLeft--l {
  margin-left: 4rem;
}
.u-marginLeft--xl {
  margin-left: 8rem;
}
.u-marginRight--auto {
  margin-right: auto;
}
.u-marginRight--none {
  margin-right: 0;
}
.u-marginRight--xs {
  margin-right: 0.5rem;
}
.u-marginRight--s {
  margin-right: 1rem;
}
.u-marginRight--m {
  margin-right: 2rem;
}
.u-marginRight--l {
  margin-right: 4rem;
}
.u-marginRight--xl {
  margin-right: 8rem;
}

.u-padding--none {
  padding: 0;
}
.u-padding--xs {
  padding: 0.5rem;
}
.u-padding--s {
  padding: 1rem;
}
.u-padding--m {
  padding: 2rem;
}
.u-padding--l {
  padding: 4rem;
}
.u-padding--xl {
  padding: 8rem;
}
.u-paddingX--none {
  padding-left: 0;
  padding-right: 0;
}
.u-paddingX--xs {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.u-paddingX--s {
  padding-left: 1rem;
  padding-right: 1rem;
}
.u-paddingX--m {
  padding-left: 2rem;
  padding-right: 2rem;
}
.u-paddingX--l {
  padding-left: 4rem;
  padding-right: 4rem;
}
.u-paddingX--xl {
  padding-left: 8rem;
  padding-right: 8rem;
}
.u-paddingY--none {
  padding-top: 0;
  padding-bottom: 0;
}
.u-paddingY--xs {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.u-paddingY--s {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.u-paddingY--m {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.u-paddingY--l {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.u-paddingY--xl {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.u-paddingTop--none {
  padding-top: 0;
}
.u-paddingTop--xs {
  padding-top: 0.5rem;
}
.u-paddingTop--s {
  padding-top: 1rem;
}
.u-paddingTop--m {
  padding-top: 2rem;
}
.u-paddingTop--l {
  padding-top: 4rem;
}
.u-paddingTop--xl {
  padding-top: 8rem;
}
.u-paddingBottom--none {
  padding-bottom: 0;
}
.u-paddingBottom--xs {
  padding-bottom: 0.5rem;
}
.u-paddingBottom--s {
  padding-bottom: 1rem;
}
.u-paddingBottom--m {
  padding-bottom: 2rem;
}
.u-paddingBottom--l {
  padding-bottom: 4rem;
}
.u-paddingBottom--xl {
  padding-bottom: 8rem;
}
.u-paddingLeft--none {
  padding-left: 0;
}
.u-paddingLeft--xs {
  padding-left: 0.5rem;
}
.u-paddingLeft--s {
  padding-left: 1rem;
}
.u-paddingLeft--m {
  padding-left: 2rem;
}
.u-paddingLeft--l {
  padding-left: 4rem;
}
.u-paddingLeft--xl {
  padding-left: 8rem;
}
.u-paddingRight--none {
  padding-right: 0;
}
.u-paddingRight--xs {
  padding-right: 0.5rem;
}
.u-paddingRight--s {
  padding-right: 1rem;
}
.u-paddingRight--m {
  padding-right: 2rem;
}
.u-paddingRight--l {
  padding-right: 4rem;
}
.u-paddingRight--xl {
  padding-right: 8rem;
}

/*# sourceMappingURL=main.css.map */
