// Colors
$colorHotdog: #CA6A41;
$colorBread: #EDB662;
$colorKetchup: #D92A1F;
$colorMustard: #F5D530;
$colorPickleMayo: #84B66D;
$colorBackground: #fff;

$veganHotdogScale: 10rem;

// Vegan hotdog container
// The circle in which the hotdog hovers
.c-CSSOnlyVeganHotDogGraphic {
    margin: auto;
    border-radius: 50%;
    position: relative;
    background-color: $colorBackground;

    box-sizing: border-box;
    font-size: $veganHotdogScale;
    width: 1em;
    height: 1em;
    overflow: hidden;

    &__container {
        position: relative;
        width: 100%;
        height: 100%;

        &--recoil {
            animation: shake 750ms infinite linear;
        }

    }
    // Vegan hotdog
    &__veganHotDog {
        position: absolute;
        top: .39em;
        left: 0;
        right: 0;
        margin: auto;
        width: .8em;
        height: .14em;
        border-radius: .07em;
        background-color: $colorHotdog;
    }
    // Bread
    &__bread {
        position: absolute;
        top: .44em;
        left: 0;
        right: 0;
        margin: auto;
        width: .6em;
        height: .24em;
        border-radius: .1em;
        background-color: $colorBread;

    }
    &__condiments {
        // Condiments modifiers
        // general postion and measurements
        position: absolute;
        top: .38em;
        left: 0;
        right: 0;
        margin: auto;
        width: .6em;
        height: .03em;
        border-radius: .015em;

        &--none {
            opacity: 0;
        }

        &--ketchup {
            background: $colorKetchup;
        }
        &--mustard {
            background: $colorMustard;
            height: .04em;
            border-radius: .02em;
        }
        &--picklemayo {
            background: $colorPickleMayo;
            height: .05em;
            border-radius: .025em;
        }
    }
}
.u-biteAnimation {
//    position: relative;
    &:after {
        content: '';
        display: block;
        position: absolute;
        //-1px to prevent graphic glitch on ios
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        background: transparent;
        animation: biteAnimation 3s infinite linear;

    }
}

@keyframes biteAnimation {
    0%, 25% {
        background: transparent;
    }
    26%, 50% {
        background: radial-gradient(circle at 0%, $colorBackground 30%, transparent 30%);
    }
    51%, 75% {
        background: radial-gradient(circle at 0%, $colorBackground 60%, transparent 60%);
    }
    76%, 100% {
        background: radial-gradient(circle at 0%, $colorBackground 99.9%, transparent 100%);
    }
}
@keyframes shake {
    0%, 90% {
        transform-origin: right;
        transform: rotateZ(0);
    }
    92.5% {
        transform: rotateZ(-6deg);
    }
    95% {
        transform: rotateZ(12deg);
    }
    97.5% {
        transform: rotateZ(-7deg);
    }
    100% {
        transform: rotateZ(0);
    }
}
