.c-sideScroller {
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    box-sizing: border-box;

    counter-reset: item-counter;
    &__image {
        width: 10rem;
        height: 10rem;
    }

    &__item {
        text-align: center;
        position: relative;
        display: flex;
        flex-flow: column;

        &:before {
            @extend .c-subTitle;
            color: $colorBlack;

            position: absolute;
            left: 2rem;
            top: 2rem;
            content: counter(item-counter) ".";
	        counter-increment: item-counter;
        }
    }
}
