.c-siteHeader {
    align-items: center;
    background: #009D8A linear-gradient(135deg, #45D6A2 0%, #009D8A 100%);
    display: flex;
    flex-flow: column;
    width: 100%;
    text-align: center;
}
