// Colors
$colorHotdog: #CA6A41;
$colorBread: #EDB662;
$colorKetchup: #D92A1F;
$colorMustard: #F5D530;
$colorBackground: #fff;

$baseFont: 1rem;
$veganHotdogScale: 10em;

// Vegan hotdog container
// The circle in which the hotdog hovers
.c-veganHotdogContainer {
      font-size: $baseFont;
  margin: auto;
  border-radius: 50%;
  background-color: $colorBackground;
  box-sizing: border-box;
  font-size: $veganHotdogScale;
  width: 1em;
  height: 1em;
  display: flex;
  box-shadow: 0 .1em .5em rgba(0,0,0,.1);
  position: relative;
  overflow: hidden;
  cursor: pointer;

  // Bite animation objects (these obscure the actual vegan hotdog)
  &:after, &:before {
    content: '';
    z-index: 10;
    display: block;
    position: absolute;
    background-color: $colorBackground;
    height: .5em;
    border-radius: .25em;
    top: 50%;
    margin-top: -10%;
    width: 100%;
    animation: hover 3s infinite linear, eatVeganHotdog 3s infinite linear;
  }
    &:before {
      margin-top: -35%;
  }

 // Vegan hotdog
  &__veganHotdog {
    z-index: 8;
    display: block;
    position: relative;
    margin: auto;
    font-size: .75em;
    width: 1em;
    height: .18em;
    border-radius: .09em;
    background-color: $colorHotdog;
    animation: hover 3s infinite linear;

    // Bread
    &:before {
      content:'';
      display: block;
      font-size: .75em;
      width: 1em;
      height: .35em;
      background-color: $colorBread;
      position: absolute;
      border-radius: .2em;
      top: .085em;
      left: 0;
      right: 0;
      margin: auto;
    }

    // Condiments modifiers
    // general postion and measurements
    &--ketchup, &--mustard {
      &:after {
      content:'';
      display: block;
        font-size: .75em;
      width: 1em;
      position: absolute;
      top: -.033em;
      left: 0;
      right: 0;
      margin: auto;
      }
    }
    // Ketchup modifier
    // Specifics
      &--ketchup {
      &:after {
        background-color: $colorKetchup;
        height: .05em;
        border-radius: .025em;
      }
    }
    // Mustard modifier
    // Specifics
      &--mustard {
      &:after {
        background-color: $colorMustard;
        height: .06em;
        border-radius: .03em;
      }
    }
  }
}
@keyframes eatVeganHotdog {
  0%, 25% {
   left: -100%;
  }
  25.1%, 50% {
    left: -60%;
  }
  50.1%, 75% {
    left: -35%;
  }
   75.1%, 100% {
    left: 0%;
  }
}

@keyframes hover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-$veganHotdogScale*0.01);
  }
  100% {
    transform: translateY(0);
  }
}
