// Purpose of file:
// Settings for font-stacks, font-sizes, etc

$fontHeader: "Montserrat", "Lucida Grande", "Arial", sans-serif;
$fontSmall: "Karla", "Lucida Grande", "Arial", sans-serif;

// Relations between font sizes
$fontSizeMedium: 1.414rem;
$fontSizeLarge: 1.999rem;
$fontSizeXLarge: 2.827rem;

// Responsive base line font size
html {
    font-size: 24px;
    @media (min-width: 1000px) {
      font-size:18px;
    }
}
