// Purpose of file:
// Settings for font-stacks, font-sizes, etc

$fontHeader: "Overpass Mono", "Lucida Grande", "Arial", sans-serif;
$fontSmall: "Karla", "Lucida Grande", "Arial", sans-serif;

$fontSizeSmall: .85rem;
$fontSizeMedium: 1rem;
$fontSizeLarge: 2rem;
$fontSizeXLarge: 5rem;
