// Purpose of file:
// Settings for font-stacks, font-sizes, etc

$fontHeader: "Montserrat", "Lucida Grande", "Arial", sans-serif;
$fontSmall: "Karla", "Lucida Grande", "Arial", sans-serif;

// Relations between font sizes
$fontSizeSmall: 1rem;
$fontSizeMedium: 1.5rem;
$fontSizeLarge: 3rem;
$fontSizeXLarge: 5rem;

// Responsive base line font size
html {
    font-size: 14px;
    @media (min-width: $oneColumn) {
      font-size: 16px;
    }
}
