.l-height {
    &--half {
        box-sizing: border-box;
        min-height: 50vh;
    }
    &--threeQuarter {
        box-sizing: border-box;
        min-height: 75vh;
    }
    &--full {
        box-sizing: border-box;
        min-height: 100vh;
    }
    &--icon {
        box-sizing: border-box;
        max-height: 12rem;
    }
}
