.u-background {
    &--white {
        background: #fff;
    }
    &--blueGreen {
        background-color: #5F8287;
    }

    &--fadePink {
        background-color: #E88DF7;
        background-image: linear-gradient(135deg, #E88DF7 0%, #EDB662 100%);
    }
    &--fadeGreen {
        background-color: #009D8A;
        background-image: linear-gradient(155deg, #45D6A2 0%, #009D8A 100%);
    }
}
